.header{
    height: 180px;
    background-color: beige;
}
.nav{
    padding: 0px 10px;
    height: 40px;
    background-color:  blue;
    display: flex;
    font-size: 24px;
}
.nav *{
    text-decoration: none;
    z-index: 1000;
    color: #fff;
}
.content_body{
    min-height: 500px;
    background-color: aquamarine;
    padding: 50px 40px;
}
.footer{
    height: 100px;
    background-color: black;
}

.menu_item {
    display: flex;
    list-style: none;
    gap: 30px;
}
.menu_item * {
    list-style: none;
    gap: 30px;
}