.header{
    height: 180px;
    background: linear-gradient(to bottom, #A0D3E8, #5BB3E6);
}

.nav{
    padding: 0px 10px;
    height: 40px;
    display: flex;
    position: fixed;
    top: 10px;
    right: 50px;
    
}
.nav *{
    text-decoration: none;
    z-index: 1000;  
}
.content_body{
    background-image: url(../../img/main-bg.jpg);
    background-size: cover;
    min-height: 1000px;
    background-size: 100% 150%; /* 너비 50%, 높이 50% */
    padding: 30px 50px;
}
.footer{
    height: 200px;
    background-color: antiquewhite;
}

.nav .menu_item {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav .menu_item *{
    list-style: none;
    gap: 30px;
    width: 50px;
    white-space: nowrap;
    font-size: 16px;
}
.nav .menu_item li div ul a {
    font-size: 12px;
}