.keywordAnalsis_body {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 10px;
    flex-direction: column;
}
.search_box {
    width: 80%;
    display: flex;
    align-items: center; 
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 5px;    
    margin-top: 10px;
}

.news_table {
    border-collapse: collapse; 
    position: relative;
}
.news_content_box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 2000px;
    height: 1000px;
    overflow-y: scroll;
}

.news_table thead th {
    position: sticky; 
    top: 0; 
    background-color: #f4f4f4; 
    z-index: 1; 
    text-align: center;
    padding: 8px; 
    box-sizing: border-box;
    white-space: nowrap;
}
.news_table td {
    border: 1px solid gainsboro;
    padding: 8px; 
    box-sizing: border-box;
    text-align: left;
    max-height: 50px; 
    overflow: hidden;
    white-space: nowrap;
}
.news_table tbody tr td:nth-child(1){
    max-width: 600px;
}
.news_table tbody tr td:nth-child(2){
    max-width: 800px;
}
.news_table tbody tr td:nth-child(2):hover{
    max-width: 800px;
}
.news_table tbody tr td:nth-child(3){
    max-width: 80px;
}

  
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    white-space: normal;
    /* 툴팁 위치 설정 */
    position: absolute;
    left: 30px;
    z-index: 100;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.keyword_top10{
    display: flex;
}
.keyword_top10 ul{
    margin: 20px;
}
