html *{
    padding: 0;
    margin: 0;
}

header{
    height: 180px;
    background-color: aqua;
}
nav{
    padding: 0px 10px;
    height: 40px;
    background-color: bisque;
    display: flex;
    font-size: 24px;
}
nav *{
    text-decoration: none;
    z-index: 1000;
}
.content_body{
    min-height: 500px;
    background-color: aquamarine;
}
footer{
    height: 100px;
    background-color: black;
}

.menu-item {
    display: flex;
    list-style: none;
    gap: 30px;
}
.menu-item *{
    list-style: none;
    gap: 30px;
}